<% provide(:title, 'Help') %>

    <h1>Help</h1>
    <p>
      To be provided with a user name and password, please register at: 
      <a href="http://pokapok.mx">Pokapok</a>.
      We'll e-mail you the confirmation.
      <p>Suggestions to the developers: <a href="mailto:daniel@pokapok.mx">Daniel</a> and/or <a href="mailto:info@pokapok.mx">Alaníz</a></a>.</p>
    </p>
  