<div class="center hero-unit">
<h1>Bienvenidos sean</h1>

<h2>
	Esta es la página de inicio para
	<a href="http://pokapok.mx">Pokapok</a>
	y su primer formulario de registro.
</h2>

<%= link_to "Registrate ahora!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("logo-sm.png", alt:"Pokapok"), 'http://pokapok.mx' %>