<footer class="footer">
  <small>
    <a href="http://pokapok.mx/">POKAPOK 2014</a>
    by Llaneros
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   "http://pokapok.mx/acerca.html" %></li>
      <li><a href="mailto:info@pokapok.mx">Contact</a></li>
      <li><a href="http://pokapok.mx/">News</a></li>
    </ul>
  </nav>
</footer>